<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="glass">
  <link
    name="glass2">
    <inertial>
      <origin
        xyz="-1.1259E-17 9.70083956679786E-18 0.043208"
        rpy="0 0 0" />
      <mass
        value="0.091799" />
      <inertia
        ixx="0.00011262"
        ixy="-2.06799999999999E-22"
        ixz="-1.5146E-20"
        iyy="0.00011262"
        iyz="6.08841619019977E-21"
        izz="4.7463E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="meshes/glass2_mod1.obj" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.94118 0.96078 0.96863 0.7" />
        <texture
          filename="" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="meshes/glass2_mod1.obj" />
      </geometry>
    </collision>
  </link>
</robot>
